@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Residence" title="Residences"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Apply now</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Logout</button>
            </form>
        </li>
@*        <li class="nav-item">
            <a class="nav-link text-dark" >@User.Identity.Name</a>
        </li>*@
    }
    else
    {
@*        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Login</a>
        </li>*@
    }
</ul>

