@page
@model FindAcommodationNow.Areas.Identity.Pages.Account.Manage.Res1Model
@{
    ViewData["Title"] = "Blue Crane";
    ViewData["ActivePage"] = ManageNavPages.Res1;
}

<div style="background-color:white">
    <h5>@ViewData["Title"]</h5>

    <div id="_myModal" class="Modal is-hidden is-visuallyHidden">
        <!-- Modal content -->
        <div class="Modal-content">
            <span id="closeModal" class="Close">&times;</span>
            <h6>Booking</h6>
            <hr />
            <p>Simple Modalfvvhhhhhhhhh</p>
            <p>Simple Modalfvv</p>
            <p>Simple Modalfvv</p>
            <p>Simple Modalfvv</p><p>Simple Modalfvv</p><p>Simple Modalfvv</p><p>Simple Modalfvv</p>
        </div>
    </div>
    <button id="btnApply" class="btn btn-primary"><i class="fa fa-check-square-o"> </i>Apply</button>
    <br />
    <form id="form2" method="post">
        <br />
        @*push the back button to the right*@
        <button class="btn btn-primary" type="submit" asp-page="Residence"><i class="fa fa-arrow-left"></i> Go back</button>
    </form>
    <hr />
    <div class="top-navbar">
    @foreach (var items in Model.ImageList)
    {
        var iPhotoUrl = items;
        <img onclick="openModal(this);" id="myImg" class="float-left p-2" src="@iPhotoUrl" alt="Snow" height="150" />

        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

    }</div>
</div>
    