@page
@model FindAcommodationNow.Areas.Identity.Pages.Account.Manage.ResidenceModel
@{
    ViewData["Title"] = "Residences";
    ViewData["ActivePage"] = ManageNavPages.Residence;
}
<div style="background-color:white">
    <h4>@ViewData["Title"]</h4>
    <h6>Select res</h6>
 <form id="form1" method="post">
     <div class="navbar-nav" id="nav_">
         <select id="_select" name="res">
             <optgroup label="Private residences" style="width:inherit">
                 <option value="0">Select residence</option>
                 <option value="1">Blue Crane</option>
                 <option value="2">Villa DeJavu</option>
                 <option value="3">Villa on Point</option>
                 <option value="4">9 Hellos Bedworthpark</option>
                 <option value="5">House 7(7 Gertrude Page Str SE7)</option>
             </optgroup>
         </select>
         <br />
         <button id="res1Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res1" hidden>Show pictures</button>
         <button id="res2Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res2" hidden>Show pictures</button>
         <button id="res3Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res3" hidden>Show pictures</button>
         <button id="res4Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res4" hidden>Show pictures</button>
         <button id="res5Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res5" hidden>Show pictures</button>
         <br />
         <button id="applyBtn" class="btn btn-primary" type="submit" hidden>Apply</button>
         <br /><br />
     </div>
</form>

</div>