@page
@model FindAcommodationNow.Areas.Identity.Pages.Account.Manage.ResidenceModel
@{
    ViewData["Title"] = "Residences";
    ViewData["ActivePage"] = ManageNavPages.Residence;
}
<h4>@ViewData["Title"]</h4>