@page
@model FindAcommodationNow.Areas.Identity.Pages.Account.Manage.ResidenceModel
@{
    ViewData["Title"] = "Residences";
    ViewData["ActivePage"] = ManageNavPages.Residence;
}
<h4>@ViewData["Title"]</h4>
<section>
    <h6>Select res</h6>
    <div class="navbar-nav">
        <select>
            <optgroup label="Names of residences" style="width:inherit">
                <option value="city">City</option>
                <option value="clever">Clever res</option>
                <option value="vaalians">Vaalians</option>
                <option value="bees">Bees</option>
            </optgroup> 
        </select>
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdzpzapqk-F0qkVKi2vVohzohbU7mtW0BvLv0bWvWPcRXnbpw/viewform?embedded=true" width="600" height="838" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>