@page
@model FindAcommodationNow.Areas.Identity.Pages.Account.Manage.ResidenceModel
@{
    ViewData["Title"] = "Residences";
    ViewData["ActivePage"] = ManageNavPages.Residence;
}
<div style="background-color:white">
    <h4>@ViewData["Title"]</h4>

    <h6>Select res</h6>
 <form id="form1" method="post">
     <div class="navbar-nav" id="nav_">

         <select id="_select" name="res">
             <optgroup label="Private residences" style="width:inherit">
                 <option value="0">Select residence</option>
                 <option value="1">Residence 1</option>
                 <option value="2">Residence 2</option>
                 <option value="3">Residence 3</option>
                 <option value="4">Residence 4</option>
                 <option value="5">Residence 5</option>
             </optgroup>
         </select>
         <br />
         <button id="res1Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res1" hidden>Show pictures</button>
         <button id="res2Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res2" hidden>Show pictures</button>
         <button id="res3Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res3" hidden>Show pictures</button>
         <button id="res4Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res4" hidden>Show pictures</button>
         <button id="res5Btn" class="btn btn-primary" type="submit" onclick="hidePillsNav()" asp-page="Res5" hidden>Show pictures</button>

         <br />
         <button id="applyBtn" class="btn btn-primary" type="submit" hidden>Apply</button>
         <br /><br />
       @*  <h5 id="picTitle">Res pictures</h5>*@
     </div>
</form>
    <!--<br />
    <div class="top-navbar">

        <div class="row" id="picsNav">-->

            @*                                   @foreach (var items in Model.ImageList)
                {
                    var iPhotoUrl = items;
                    <img onclick="openModal(this);" id="myImg"  class="float-left p-2" src="@iPhotoUrl" alt="Snow" height="150"/>

                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>

                }*@
            <!--<img onclick="openModal(this);" id="myImg" class="float-left p-2" src="/bg.jpg" alt="Snow" height="150" />
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
            <img onclick="openModal(this);" id="myImg" class="float-left p-2" src="/352.jpg" alt="Snow" height="150" />
            <img onclick="openModal(this);" id="myImg" class="float-left p-2" src="/389.png" alt="Snow" height="150" />
            <img onclick="openModal(this);" id="myImg" class="float-left p-2" src="/683.jpg" alt="Snow" height="150" />
            <img onclick="openModal(this);" id="myImg" class="float-left p-2" src="/456.jpg" alt="Snow" height="150" />

        </div>

    </div>-->


</div>