@page
@model FindAcommodationNow.Areas.Identity.Pages.Account.Manage.ResidenceModel
@{
    ViewData["Title"] = "Residences";
    ViewData["ActivePage"] = ManageNavPages.Residence;
}
<h4>@ViewData["Title"]</h4>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdzpzapqk-F0qkVKi2vVohzohbU7mtW0BvLv0bWvWPcRXnbpw/viewform?embedded=true" width="640" height="838" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>