@page
@model FindAcommodationNow.Pages.AboutModel
@{ 
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>FindAccomodationNow shows you the best private accomodations in and around the Vaal area for students in this area to check out these residences and apply</p>