@page
@model FindAcommodationNow.Pages.AboutModel
@{ 
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>Hi👋, we are FindAccomodationNow private recruiters</p>
<p>What do we do? We help students👨‍🎓👩‍🎓, like yourself, find their new home away from home within the Vaal area in Gauteng.</p>
<p>How? We make the trip to the private residences, with the permission of the respective landlords,capture the residence interiors, get you info on what's needed for you to apply as well as how you can apply</p>
<p>Then we bring you all that on this single website</p>
<p>Why? simple, so you can secure your room at a private res all from your browser, neat right!😊</p>
<p ><span style="text-decoration:solid">This service is exclusive to private residences, none of the institutional student accomodations are listed in this platform</span></p>