@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
     
    <h2 class="display-4">&fnof;ind &Auml;ccomodation &Ntilde;ow</h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <p style="font-style:italic"> Welcome<span class="imoji" style="font-style:normal">🤗</span>, we wish you well on your student life<span class="imoji_" style="font-style:normal">💃</span> at the <a asp-area="Identity" asp-page="/Account/Manage/Residence">res</a> of your choice!</p>
    }
    else
    {
        <p style="font-style:italic">Register or log in to apply to your favourite private student accomodation in Vaal</p>
    }
</div>
<div class="text-center">
    <img style="border-radius:1%" src="bg.jpg" alt="image of students" width="400" height="435" title="Students"/>
</div>
