@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="display-4">Find Accomodation Now</h2>
    <p>Register or log in to apply to your favourite private student accomodation in Vaal</p>
</div>
<div class="text-center">
    <img src="~/bg.jpg" alt="image of students" width="400" height="435" title="Students"/>@*Add picture of students at home page*@
</div>
