@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Information security is essential to us that is why your information is protected and only shared to the residence that you choose to book at</p>
