@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Protection of your private information is paramount to us. This is why your contact information is protected and only shared to the residence that you choose to book at</p>
<p>You are also allowed to unsubscribe from the service by deleting your account at any stage</p>
